################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/signalr-redis/SignalR.Server/bin
/signalr-redis/packages
/signalr-redis/.vs
/signalr-redis/SignalR.Server/obj/Debug
